/**
 * @file
 * Layout styling
 */
body, body.with-slideshow{
  font-family: Arial,Ubuntu;
  background:url('../images/bg_with_logo.png') center no-repeat fixed #F5F5F5;
}

#header .section{
  background: url("../images/banner.png") center 0px no-repeat;
  background-size: 940px 125px;
  height:125px;
  margin:0 auto;
}

.region-header {
  margin-left:0px;
  height:auto;
  line-height:auto;
  width:auto;
  padding-top: 110px;
}

.region-content > div > h2 {
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  padding-bottom:5px;
}

.region-content > div > h2 > a {
  color: #0088cc;
  text-decoration: none;
}

.region-content div .content {
  font-size: 1.1em;
}

.region-content div .content .node {
  margin: 0;
}

.node > .content a {
  color: #0088cc;
}

.region-content > div > .content > .node,
.region-content > div > .content > .view > .view-content > .views-row,
.region-slideshow .block-menu, .region-slideshow .block-views,
.region-content .block-views, .region-sidebar .block-menu,
.region-sidebar .block-views:not(#block-views-tieu-diem-block) {
  border-radius: 3px;
  border: 1px solid #DDD;
  padding: 10px;
  background-color: #fbfbfb;
  margin-bottom: 15px;
}

.region-sidebar .block-menu, .region-slideshow .block-menu,
.region-content .block-views,
.region-sidebar .block-views:not(#block-views-tieu-diem-block) {
  padding: 1px 10px 0px 10px;
}

#block-views-tieu-diem-block {
  border: 1px solid #DDD;
  width: 260px;
  height: 400px;
  margin-left: 5px;
}

#block-views-noi-bat-block {
  border: 1px solid #DDD;
  width: 650px;
  text-align: center;
  font-size: 1.7em;
  font-style: italic;
}

#block-views-noi-bat-block h2 {
  display:none;
}

#block-menu-menu-footer-credit h2 {
  display: none;
}

#footer {
  background: none;
}

#footer .section {
  background: url("../images/bg_footer.jpg");
  border-radius: 4px 4px 0 0;
  padding: 0 0 10px 0;
}

#footer .section,
#footer .block .content a {
  color: #444;
}

#footer .block .content a.active {
  color: whitesmoke;
}

#footer .block .content ul li a:hover {
  color: #444;
  text-decoration: none;
}

#footer .block {
  width: 940px;
  height: 20px;
  float: none;
  text-align: center;
  margin: 0;
}

#footer .block-menu {
  margin-left: 340px;
}

#footer .block .content ul li {
  background: none;
  float: left;
  padding: 0 5px 0 0;
}

.region-content > .block-views > .content div .attachment {
  border-bottom: 1px dashed;
}

/*.region-content .view-content .field-name-field-teaser-image {
  text-align: center;
}*/

.region-content .field-name-field-teaser-image {
  float: left;
  margin-right: 10px;
}

/**
 * Banner
 */
#slideshow, #slider {
  width: 950px;
  height: 300px;
  background:none;
}

#slideshow .block-andromeda-slideshow {
  width: 650px;
  float: left;
}

#slideshow .nivo-controlNav {
  bottom: -30px;
}

#slideshow .block-menu {
  margin: 0 10px 0 670px;
}

#slideshow .block-menu .content ul {
  margin:0;
  padding:0;
}

#slideshow .block-menu .content ul li {
  padding: 10px;
  padding-right: 0;
  border-bottom:1px solid #e7e7e7;
  background:url('../images/bullet-arrow.gif') no-repeat left center transparent;
  list-style:none outside none;
}

.block .content ul li a {
  text-decoration: none;
}

.block .content ul li a:hover {
  text-decoration: underline;
}

.nivoSlider a.nivo-imageLink {
  z-index: 100 !important;
}

.with-sidebar #content {
  margin: -10px 0 10px 0;
  width: 650px;
}

.with-sidebar #sidebar {
  width: 270px;
  margin-left: 670px;
  padding-top: 10px;
}

/**
 * @file
 * Form styling
 */
form .form-text,
form .form-textarea{
  font-family:Arial,Ubuntu;
}

/**
 * Search form
 */
form#search-block-form{
  overflow:hidden;
  margin-bottom:20px;
}

form#search-block-form .form-text{
  border: 1px solid #bcbcbc;
  width: 225px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

form#search-block-form .form-submit{
  background:url('../images/btn/btn-submit.custom.png') no-repeat center -5px;
  background-size: 33px 37px;
  width:31px;
}

/**
 * @file
 * Menu and Navigation styling
 */

#main-menu {
  font-family: Arial,Ubuntu;
}

/**
 * Nice menus support
 */
.block-nice-menus {
  float:left;
}

ul.nice-menu {
  border-radius: 3px;
  border: 1px solid #DDD;
  background: #fbfbfb;
  font-family: Arial,Ubuntu;
  margin: 35px 0 25px 0;
  width: 930px;
  padding-left: 5px;
}

ul.nice-menu li {
  margin:0 4px;
}

ul.nice-menu li a{
  color: #0088cc;
  font-size:1.2em;
  height:auto;
  padding:5px 8px !important;
  text-transform: uppercase;
  font-weight: bold;
}

ul.nice-menu li a:hover,
ul.nice-menu li.over a{
  background:#3a87ad;
  color:white;
}

ul.nice-menu > li > a:hover {
  text-decoration: none;
}

ul.nice-menu li.menuparent ul {
  background:#3a87ad;
  margin-top:20px;
  border-radius:5px;
  padding: 0;
}

ul.nice-menu li.menuparent ul li {
  background: none;
  width:200px;
}

ul.nice-menu li.menuparent ul li:hover {
  text-decoration:underline;
  border-radius:5px;
}

ul.nice-menu li.over ul li a {
  line-height:20px;
  text-transform: none;
}

ul.nice-menu li.over ul li a:hover {
  text-decoration:none;
}

#nice-menu-1 li a:hover {
  text-decoration: none;
}

/**
 * @file
 * HTML Element Styling
 */
body {
  font : 11px/16px Arial,Ubuntu
}

h1,h2,h3,h4,h5,h6 {
  font-family: Arial,Ubuntu;
}

/**
 * @file
 * Contains styling for tabs, messages, ..etc
 */
#breadcrumb{
  font-size:18px;
  margin-bottom: 10px;
  display: none !important;
}

h1#page-title {
  font-family: Arial, Ubuntu;
  margin-top: 15px;
}

.block-menu .content {
  font-size: 1.1em;
}

#sidebar #block-search-form {
  margin-bottom: 20px;
}

#sidebar .block {
  margin-bottom:20px;
}

#sidebar .block h2 {
  text-transform:uppercase;
  text-align:center;
  font-family: Arial,Ubuntu;
  font-weight:bold;
  font-size:1.2em;
  color:#0088cc;
  line-height:25px;
  margin:5px 0;
  border-bottom:1px solid gray;
}

#sidebar .block .content {
  font-size: 1.1em;
}

#sidebar .block .content ul li {
  padding: 7px;
  padding-right: 0;
  background-position: left center;
}

#sidebar .block .content ul li a.active {
  text-decoration:none;
  font-weight:bold;
}

#block-menu-menu-related-links .content ul li a:hover {
  color: #08C;
}
