/**
 * @file
 * Layout styling
 */
body, body.with-slideshow{
  font-family: Verdana,Ubuntu;
  background:url('../images/bg_with_logo.png') center no-repeat fixed #F5F5F5;
}

#header .section{
  background: url("../images/banner.png") center 0px no-repeat;
  background-size: 940px 125px;
  height:125px;
  margin:0 auto;
}

.region-header {
  margin-left:0px;
  height:auto;
  line-height:auto;
  width:auto;
  padding-top: 110px;
}

.region-content > div > h2 {
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  padding-bottom:5px;
}

.region-content > div > h2 > a {
  color: blue;
  text-decoration: none;
}

.region-content div .content {
  font-size: 1.1em;
}

.region-content div .content .node {
  margin: 0;
}

.node > .content a {
  color: blue;
}

.region-content > div > .content > .node,
.region-content > div > .content > .view > .view-content > .views-row,
.block-menu, .block-views {
  border-radius: 5px;
  border-top: 1px solid #AAA;
  border-right: 1px solid #AAA;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: -5px 5px 5px #888;
  margin-bottom: 15px;
}

.block-menu, .block-views {
  border-left: 1px solid #AAA;
  padding: 1px 10px 1px 10px;
  box-shadow: 5px 5px 5px #888;
}

.region-content > .block-views > .content div .attachment {
  border-bottom: 1px dashed;
}

.region-content > .block-views > .content div .attachment .content .field-name-field-image {
  float: left;
  margin-right: 10px;
}

/**
 * Banner
 */
#slideshow, #slider {
  width: 950px;
  height: 300px;
  background-size: 600px 140px;
  background-position: left bottom;
}

#slideshow .block-andromeda-slideshow {
  width: 650px;
  float: left;
}

#slideshow .nivo-controlNav {
  bottom: -30px;
}

#slideshow .block-menu {
  margin: 0 10px 0 670px;
  box-shadow: 0px 5px 5px #888;
}

#slideshow .block-menu .content ul {
  margin:0;
  padding:0;
}

#slideshow .block-menu .content ul li {
  padding: 10px;
  padding-right: 0;
  border-bottom:1px solid #e7e7e7;
  background:url('../images/bullet-arrow.gif') no-repeat left center transparent;
  list-style:none outside none;
}

#slideshow .block .content ul li a {
  text-decoration: none;
}

#slideshow .block .content ul li a:hover {
  text-decoration: underline;
}

.nivoSlider a.nivo-imageLink {
  z-index: 100 !important;
}

.with-sidebar #content {
  margin-top: -10px;
  width: 650px;
}

.with-sidebar #sidebar {
  width: 270px;
  margin-left: 670px;
  padding-top: 10px;
}

/**
 * @file
 * Form styling
 */
form .form-text,
form .form-textarea{
  font-family:Verdana,Ubuntu;
}

/**
 * Search form
 */
form#search-block-form{
  overflow:hidden;
  margin-bottom:20px;
}

form#search-block-form .form-text{
  border: 1px solid;
  width: 225px;
  border-radius:10px 0 10px 0px;
  -moz-border-radius:10px 0 10px 0px;
  -webkit-border-radius:10px 0 10px 0px;
}

form#search-block-form .form-submit{
  background:url('../images/btn/btn-submit.custom.png') no-repeat center -5px;
  background-size: 33px 37px;
  width:31px;
}

/**
 * @file
 * Menu and Navigation styling
 */

#main-menu {
  font-family: Verdana,Ubuntu;
}

/**
 * Nice menus support
 */
.block-nice-menus {
  float:left;
}

ul.nice-menu {
  border-radius: 5px;
  background: whitesmoke;
  box-shadow: 0 5px 5px #888;
  font-family: Verdana,Ubuntu;
  margin: 35px 0 25px 0;
  width: 930px;
  padding-left: 10px;
}

ul.nice-menu li {
  margin:0 8px;
}

ul.nice-menu li a{
  color: black;
  font-size:1.2em;
  height:auto;
  padding:5px 8px !important;
}

ul.nice-menu li a:hover,
ul.nice-menu li.over a{
  background:rgba(0, 70, 255, 0.8);
  color:white;
}

ul.nice-menu li.menuparent ul {
  background:rgba(0, 70, 255, 0.8);
  margin-top:20px;
  border-radius:5px;
  padding: 0;
}

ul.nice-menu li.menuparent ul li {
  background: none;
  width:200px;
}

ul.nice-menu li.menuparent ul li:hover {
  background:rgb(0,70,255);
  border-radius:5px;
}

ul.nice-menu li.over ul li a {
  line-height:20px;
}

ul.nice-menu li.over ul li a:hover {
  text-decoration:none;
}

/**
 * @file
 * HTML Element Styling
 */
body {
  font : 11px/16px Verdana,Ubuntu
}

h1,h2,h3,h4,h5,h6 {
  font-family: Tahoma,Verdana,Ubuntu;
}

/**
 * @file
 * Contains styling for tabs, messages, ..etc
 */
#breadcrumb{
  font-size:18px;
  margin-bottom: 10px;
  display: none !important;
}

h1#page-title {
  font-family: Verdana, Ubuntu;
  margin-top: 15px;
}

.block-menu .content {
  font-size: 1.1em;
}

#sidebar #block-search-form {
  margin-bottom: 20px;
}

#sidebar .block {
  margin-bottom:20px;
}

#sidebar .block h2{
  text-transform:uppercase;
  text-align:center;
  font-family: Verdana,Ubuntu;
  font-weight:bold;
  font-size:1.2em;
  color:blue;
  line-height:25px;
  margin:5px 0;
  border-bottom:1px solid gray;
}

#sidebar .block .content {
  font-size: 1.1em;
}

#sidebar .block .content ul li {
  padding: 7px;
  padding-right: 0;
  background-position: left center;
}

#sidebar .block .content ul li a {
  text-decoration: none;
}

#sidebar .block .content ul li a:hover {
  text-decoration: underline;
}

